-- Add type column to marquee_items and marquee_settings tables

-- Add type to marquee_items
ALTER TABLE marquee_items 
ADD COLUMN IF NOT EXISTS type TEXT NOT NULL DEFAULT 'top_banner';

-- Add type to marquee_settings
ALTER TABLE marquee_settings 
ADD COLUMN IF NOT EXISTS type TEXT NOT NULL DEFAULT 'top_banner';

-- Update RLS policies to include type check if necessary (existing policies likely cover all rows)
-- =============================================================
-- COMPLETE HOMEPAGE SECTIONS MIGRATION
-- Run this in Supabase SQL Editor to create all tables
-- =============================================================

-- =============================================================
-- 1. HERO SETTINGS
-- =============================================================
CREATE TABLE IF NOT EXISTS hero_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  title TEXT DEFAULT 'The Maison Clutch',
  subtitle TEXT DEFAULT 'Introducing The Maison Clutch â€” a celebration of refined simplicity and timeless design.',
  description TEXT DEFAULT 'Handwoven with precision, kissed by soft beige tones, and crafted to complement every mood and moment, for autumn vibes. It''s not just an accessory, it''s the definition of effortless sophistication.',
  button_text TEXT DEFAULT 'SHOP NOW',
  button_link TEXT DEFAULT '/products',
  image_url TEXT DEFAULT '/hero.webp',
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

INSERT INTO hero_settings (title, subtitle, description, button_text, button_link, image_url, is_active)
SELECT 'The Maison Clutch',
       'Introducing The Maison Clutch â€” a celebration of refined simplicity and timeless design.',
       'Handwoven with precision, kissed by soft beige tones, and crafted to complement every mood and moment, for autumn vibes. It''s not just an accessory, it''s the definition of effortless sophistication.',
       'SHOP NOW', '/products', '/hero.webp', true
WHERE NOT EXISTS (SELECT 1 FROM hero_settings LIMIT 1);

ALTER TABLE hero_settings ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow public read hero_settings" ON hero_settings;
DROP POLICY IF EXISTS "Allow update hero_settings" ON hero_settings;
DROP POLICY IF EXISTS "Allow insert hero_settings" ON hero_settings;
CREATE POLICY "Allow public read hero_settings" ON hero_settings FOR SELECT USING (true);
CREATE POLICY "Allow update hero_settings" ON hero_settings FOR UPDATE USING (true);
CREATE POLICY "Allow insert hero_settings" ON hero_settings FOR INSERT WITH CHECK (true);

-- =============================================================
-- 2. CUSTOMER LOVE (Testimonial Images)
-- =============================================================
CREATE TABLE IF NOT EXISTS customer_love (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  image_url TEXT NOT NULL,
  video_url TEXT,
  customer_name TEXT,
  rating INTEGER DEFAULT 5,
  review_text TEXT,
  is_featured BOOLEAN DEFAULT false,
  display_order INTEGER DEFAULT 0,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS customer_love_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  title TEXT DEFAULT 'Customer Love',
  subtitle TEXT DEFAULT 'See what our customers are saying about their SK Bags',
  instagram_handle TEXT DEFAULT '@skbags',
  cta_text TEXT DEFAULT 'Share your SK Bags moment with us!',
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

INSERT INTO customer_love_settings (title, subtitle, instagram_handle, cta_text, is_active)
SELECT 'Customer Love', 'See what our customers are saying about their SK Bags', '@skbags', 'Share your SK Bags moment with us!', true
WHERE NOT EXISTS (SELECT 1 FROM customer_love_settings LIMIT 1);

ALTER TABLE customer_love ENABLE ROW LEVEL SECURITY;
ALTER TABLE customer_love_settings ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow public read customer_love" ON customer_love;
DROP POLICY IF EXISTS "Allow insert customer_love" ON customer_love;
DROP POLICY IF EXISTS "Allow update customer_love" ON customer_love;
DROP POLICY IF EXISTS "Allow delete customer_love" ON customer_love;
DROP POLICY IF EXISTS "Allow public read customer_love_settings" ON customer_love_settings;
DROP POLICY IF EXISTS "Allow update customer_love_settings" ON customer_love_settings;
CREATE POLICY "Allow public read customer_love" ON customer_love FOR SELECT USING (true);
CREATE POLICY "Allow insert customer_love" ON customer_love FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update customer_love" ON customer_love FOR UPDATE USING (true);
CREATE POLICY "Allow delete customer_love" ON customer_love FOR DELETE USING (true);
CREATE POLICY "Allow public read customer_love_settings" ON customer_love_settings FOR SELECT USING (true);
CREATE POLICY "Allow update customer_love_settings" ON customer_love_settings FOR UPDATE USING (true);

-- =============================================================
-- 3. MORE TO DISCOVER (Gallery Images)
-- =============================================================
CREATE TABLE IF NOT EXISTS more_to_discover (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  image_url TEXT NOT NULL,
  title TEXT,
  link TEXT DEFAULT '/products',
  display_order INTEGER DEFAULT 0,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS more_to_discover_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  section_title TEXT DEFAULT 'More to Discover',
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

INSERT INTO more_to_discover_settings (section_title, is_active)
SELECT 'More to Discover', true
WHERE NOT EXISTS (SELECT 1 FROM more_to_discover_settings LIMIT 1);

ALTER TABLE more_to_discover ENABLE ROW LEVEL SECURITY;
ALTER TABLE more_to_discover_settings ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow public read more_to_discover" ON more_to_discover;
DROP POLICY IF EXISTS "Allow insert more_to_discover" ON more_to_discover;
DROP POLICY IF EXISTS "Allow update more_to_discover" ON more_to_discover;
DROP POLICY IF EXISTS "Allow delete more_to_discover" ON more_to_discover;
DROP POLICY IF EXISTS "Allow public read more_to_discover_settings" ON more_to_discover_settings;
DROP POLICY IF EXISTS "Allow update more_to_discover_settings" ON more_to_discover_settings;
CREATE POLICY "Allow public read more_to_discover" ON more_to_discover FOR SELECT USING (true);
CREATE POLICY "Allow insert more_to_discover" ON more_to_discover FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update more_to_discover" ON more_to_discover FOR UPDATE USING (true);
CREATE POLICY "Allow delete more_to_discover" ON more_to_discover FOR DELETE USING (true);
CREATE POLICY "Allow public read more_to_discover_settings" ON more_to_discover_settings FOR SELECT USING (true);
CREATE POLICY "Allow update more_to_discover_settings" ON more_to_discover_settings FOR UPDATE USING (true);

-- =============================================================
-- 4. OUR VIBES (Video Reels)
-- =============================================================
CREATE TABLE IF NOT EXISTS our_vibes (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  video_url TEXT NOT NULL,
  thumbnail_url TEXT,
  caption TEXT NOT NULL,
  product_id UUID,
  display_order INTEGER DEFAULT 0,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS our_vibes_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  section_title TEXT DEFAULT 'Our Vibes',
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

INSERT INTO our_vibes_settings (section_title, is_active)
SELECT 'Our Vibes', true
WHERE NOT EXISTS (SELECT 1 FROM our_vibes_settings LIMIT 1);

ALTER TABLE our_vibes ENABLE ROW LEVEL SECURITY;
ALTER TABLE our_vibes_settings ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow public read our_vibes" ON our_vibes;
DROP POLICY IF EXISTS "Allow insert our_vibes" ON our_vibes;
DROP POLICY IF EXISTS "Allow update our_vibes" ON our_vibes;
DROP POLICY IF EXISTS "Allow delete our_vibes" ON our_vibes;
DROP POLICY IF EXISTS "Allow public read our_vibes_settings" ON our_vibes_settings;
DROP POLICY IF EXISTS "Allow update our_vibes_settings" ON our_vibes_settings;
CREATE POLICY "Allow public read our_vibes" ON our_vibes FOR SELECT USING (true);
CREATE POLICY "Allow insert our_vibes" ON our_vibes FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update our_vibes" ON our_vibes FOR UPDATE USING (true);
CREATE POLICY "Allow delete our_vibes" ON our_vibes FOR DELETE USING (true);
CREATE POLICY "Allow public read our_vibes_settings" ON our_vibes_settings FOR SELECT USING (true);
CREATE POLICY "Allow update our_vibes_settings" ON our_vibes_settings FOR UPDATE USING (true);

-- =============================================================
-- 5. MARQUEE (Scrolling Banner)
-- =============================================================
CREATE TABLE IF NOT EXISTS marquee_items (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  text TEXT NOT NULL,
  display_order INTEGER DEFAULT 0,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

CREATE TABLE IF NOT EXISTS marquee_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  background_color VARCHAR(20) DEFAULT '#000000',
  text_color VARCHAR(20) DEFAULT '#ffffff',
  scroll_speed INTEGER DEFAULT 30,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

INSERT INTO marquee_settings (background_color, text_color, scroll_speed, is_active)
SELECT '#000000', '#ffffff', 30, true
WHERE NOT EXISTS (SELECT 1 FROM marquee_settings LIMIT 1);

INSERT INTO marquee_items (text, display_order) 
SELECT 'SHIPPING ACROSS ALL EGYPT', 1 WHERE NOT EXISTS (SELECT 1 FROM marquee_items WHERE text = 'SHIPPING ACROSS ALL EGYPT');
INSERT INTO marquee_items (text, display_order) 
SELECT '100% HANDMADE PRODUCTS', 2 WHERE NOT EXISTS (SELECT 1 FROM marquee_items WHERE text = '100% HANDMADE PRODUCTS');
INSERT INTO marquee_items (text, display_order) 
SELECT 'PREMIUM QUALITY MATERIALS', 3 WHERE NOT EXISTS (SELECT 1 FROM marquee_items WHERE text = 'PREMIUM QUALITY MATERIALS');
INSERT INTO marquee_items (text, display_order) 
SELECT 'FREE SHIPPING OVER 500 EGP', 4 WHERE NOT EXISTS (SELECT 1 FROM marquee_items WHERE text = 'FREE SHIPPING OVER 500 EGP');

ALTER TABLE marquee_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE marquee_settings ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow public read marquee_items" ON marquee_items;
DROP POLICY IF EXISTS "Allow insert marquee_items" ON marquee_items;
DROP POLICY IF EXISTS "Allow update marquee_items" ON marquee_items;
DROP POLICY IF EXISTS "Allow delete marquee_items" ON marquee_items;
DROP POLICY IF EXISTS "Allow public read marquee_settings" ON marquee_settings;
DROP POLICY IF EXISTS "Allow update marquee_settings" ON marquee_settings;
CREATE POLICY "Allow public read marquee_items" ON marquee_items FOR SELECT USING (true);
CREATE POLICY "Allow insert marquee_items" ON marquee_items FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update marquee_items" ON marquee_items FOR UPDATE USING (true);
CREATE POLICY "Allow delete marquee_items" ON marquee_items FOR DELETE USING (true);
CREATE POLICY "Allow public read marquee_settings" ON marquee_settings FOR SELECT USING (true);
CREATE POLICY "Allow update marquee_settings" ON marquee_settings FOR UPDATE USING (true);

-- =============================================================
-- 6. MOBILE HERO (Full-screen Mobile Banner)
-- =============================================================
CREATE TABLE IF NOT EXISTS mobile_hero (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  button_text TEXT DEFAULT 'SHOP BAGS',
  button_link TEXT DEFAULT '/products',
  text_color TEXT DEFAULT '#ffffff',
  media_url TEXT DEFAULT '/hero.webp',
  media_type TEXT DEFAULT 'image',  -- 'image' or 'video'
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

INSERT INTO mobile_hero (button_text, button_link, text_color, media_url, media_type, is_active)
SELECT 'SHOP BAGS', '/products', '#ffffff', '/hero.webp', 'image', true
WHERE NOT EXISTS (SELECT 1 FROM mobile_hero LIMIT 1);

ALTER TABLE mobile_hero ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow public read mobile_hero" ON mobile_hero;
DROP POLICY IF EXISTS "Allow update mobile_hero" ON mobile_hero;
DROP POLICY IF EXISTS "Allow insert mobile_hero" ON mobile_hero;
CREATE POLICY "Allow public read mobile_hero" ON mobile_hero FOR SELECT USING (true);
CREATE POLICY "Allow update mobile_hero" ON mobile_hero FOR UPDATE USING (true);
CREATE POLICY "Allow insert mobile_hero" ON mobile_hero FOR INSERT WITH CHECK (true);

-- =============================================================
-- DONE! All tables created successfully.
-- =============================================================
-- Banner Settings Table
-- ظ‡ط°ط§ ط§ظ„ط¬ط¯ظˆظ„ ظ„ط¥ط¯ط§ط±ط© ظ†طµ ط§ظ„ط¨ط§ظ†ط± ط§ظ„ط¹ظ„ظˆظٹ ظپظٹ ط§ظ„ظ…طھط¬ط±

-- ط¥ظ†ط´ط§ط، ط§ظ„ط¬ط¯ظˆظ„
CREATE TABLE IF NOT EXISTS banner_settings (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  text_ar TEXT NOT NULL,
  text_en TEXT NOT NULL,
  is_active BOOLEAN DEFAULT true,
  background_color VARCHAR(7) DEFAULT '#000000',
  text_color VARCHAR(7) DEFAULT '#ffffff',
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- ط¥ط¶ط§ظپط© ط¨ط§ظ†ط± ط§ظپطھط±ط§ط¶ظٹ
INSERT INTO banner_settings (text_ar, text_en, is_active, background_color, text_color)
VALUES (
  'ط´ط­ظ† ظ…ط¬ط§ظ†ظٹ ظ„ظ„ط·ظ„ط¨ط§طھ ظپظˆظ‚ 500 ط¬ظ†ظٹظ‡',
  'Free Shipping on Orders Over 500 EGP',
  true,
  '#000000',
  '#ffffff'
);

-- ظ…ظ†ط­ ط§ظ„طµظ„ط§ط­ظٹط§طھ ظ„ظ„ظ‚ط±ط§ط،ط© ظ„ظ„ط¬ظ…ظٹط¹
ALTER TABLE banner_settings ENABLE ROW LEVEL SECURITY;

-- ط³ظٹط§ط³ط© ط§ظ„ظ‚ط±ط§ط،ط© - ط§ظ„ط¬ظ…ظٹط¹ ظٹظ…ظƒظ†ظ‡ظ… ظ‚ط±ط§ط،ط© ط§ظ„ط¨ط§ظ†ط± ط§ظ„ظ†ط´ط·
CREATE POLICY "Allow public read access" ON banner_settings
  FOR SELECT
  USING (is_active = true);

-- ط³ظٹط§ط³ط© ط§ظ„ظƒطھط§ط¨ط© - ط§ظ„ظ…ط³طھط®ط¯ظ…ظٹظ† ط§ظ„ظ…طµط§ط¯ظ‚ ط¹ظ„ظٹظ‡ظ… ظپظ‚ط·
CREATE POLICY "Allow authenticated write access" ON banner_settings
  FOR ALL
  USING (auth.role() = 'authenticated');

-- ط£ظˆ ط¥ط°ط§ ظƒظ†طھ طھط±ظٹط¯ ط§ظ„ط³ظ…ط§ط­ ظ„ظ„ط¬ظ…ظٹط¹ ط¨ط§ظ„ظ‚ط±ط§ط،ط© ظˆط§ظ„ظƒطھط§ط¨ط© (ظ„ظ„طھط·ظˆظٹط±):
-- DROP POLICY IF EXISTS "Allow public read access" ON banner_settings;
-- DROP POLICY IF EXISTS "Allow authenticated write access" ON banner_settings;
-- CREATE POLICY "Public access" ON banner_settings FOR ALL USING (true) WITH CHECK (true);

-- â•”â•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•—
-- â•‘  ظ…ظ„ط§ط­ط¸ط©: ظ‚ظ… ط¨طھط´ط؛ظٹظ„ ظ‡ط°ط§ ط§ظ„ظ€ SQL ظپظٹ Supabase SQL Editor                      â•‘
-- â•‘  1. ط§ظپطھط­ Supabase Dashboard                                                â•‘
-- â•‘  2. ط§ط°ظ‡ط¨ ط¥ظ„ظ‰ SQL Editor                                                    â•‘
-- â•‘  3. ط§ظ„طµظ‚ ظ‡ط°ط§ ط§ظ„ظƒظˆط¯ ظˆط§ط¶ط؛ط· Run                                               â•‘
-- â•ڑâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•گâ•‌
-- Create customer_love table for customer testimonials/social proof
CREATE TABLE IF NOT EXISTS customer_love (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  image_url TEXT NOT NULL,
  video_url TEXT,
  customer_name TEXT,
  rating INTEGER DEFAULT 5,
  review_text TEXT,
  is_featured BOOLEAN DEFAULT false,
  display_order INTEGER DEFAULT 0,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create customer_love_settings table for section settings
CREATE TABLE IF NOT EXISTS customer_love_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  title TEXT DEFAULT 'Customer Love',
  subtitle TEXT DEFAULT 'See what our customers are saying about their SK Bags',
  instagram_handle TEXT DEFAULT '@skbags',
  cta_text TEXT DEFAULT 'Share your SK Bags moment with us!',
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Insert default settings
INSERT INTO customer_love_settings (title, subtitle, instagram_handle, cta_text, is_active)
VALUES ('Customer Love', 'See what our customers are saying about their SK Bags', '@skbags', 'Share your SK Bags moment with us!', true)
ON CONFLICT DO NOTHING;

-- Enable RLS
ALTER TABLE customer_love ENABLE ROW LEVEL SECURITY;
ALTER TABLE customer_love_settings ENABLE ROW LEVEL SECURITY;

-- Policies for customer_love
CREATE POLICY "Allow public read customer_love" ON customer_love FOR SELECT USING (true);
CREATE POLICY "Allow insert customer_love" ON customer_love FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update customer_love" ON customer_love FOR UPDATE USING (true);
CREATE POLICY "Allow delete customer_love" ON customer_love FOR DELETE USING (true);

-- Policies for customer_love_settings
CREATE POLICY "Allow public read customer_love_settings" ON customer_love_settings FOR SELECT USING (true);
CREATE POLICY "Allow update customer_love_settings" ON customer_love_settings FOR UPDATE USING (true);
-- Create hero_settings table for the hero section
CREATE TABLE IF NOT EXISTS hero_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  title TEXT DEFAULT 'The Maison Clutch',
  subtitle TEXT DEFAULT 'Introducing The Maison Clutch â€” a celebration of refined simplicity and timeless design.',
  description TEXT DEFAULT 'Handwoven with precision, kissed by soft beige tones, and crafted to complement every mood and moment, for autumn vibes. It''s not just an accessory, it''s the definition of effortless sophistication.',
  button_text TEXT DEFAULT 'SHOP NOW',
  button_link TEXT DEFAULT '/products',
  image_url TEXT DEFAULT '/hero.webp',
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Insert default settings
INSERT INTO hero_settings (
  title, 
  subtitle, 
  description, 
  button_text, 
  button_link, 
  image_url, 
  is_active
)
VALUES (
  'The Maison Clutch',
  'Introducing The Maison Clutch â€” a celebration of refined simplicity and timeless design.',
  'Handwoven with precision, kissed by soft beige tones, and crafted to complement every mood and moment, for autumn vibes. It''s not just an accessory, it''s the definition of effortless sophistication.',
  'SHOP NOW',
  '/products',
  '/hero.webp',
  true
)
ON CONFLICT DO NOTHING;

-- Enable RLS
ALTER TABLE hero_settings ENABLE ROW LEVEL SECURITY;

-- Create policies
CREATE POLICY "Allow public read hero_settings" ON hero_settings
  FOR SELECT USING (true);

CREATE POLICY "Allow authenticated update hero_settings" ON hero_settings
  FOR UPDATE USING (true);

CREATE POLICY "Allow authenticated insert hero_settings" ON hero_settings
  FOR INSERT WITH CHECK (true);
-- Create marquee_items table for the scrolling banner
CREATE TABLE IF NOT EXISTS marquee_items (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  text TEXT NOT NULL,
  display_order INTEGER DEFAULT 0,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create marquee_settings table for global settings
CREATE TABLE IF NOT EXISTS marquee_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  background_color VARCHAR(20) DEFAULT '#000000',
  text_color VARCHAR(20) DEFAULT '#ffffff',
  scroll_speed INTEGER DEFAULT 30, -- pixels per second
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Insert default settings
INSERT INTO marquee_settings (background_color, text_color, scroll_speed, is_active)
VALUES ('#000000', '#ffffff', 30, true)
ON CONFLICT DO NOTHING;

-- Insert some default items
INSERT INTO marquee_items (text, display_order) VALUES
  ('SHIPPING ACROSS ALL EGYPT', 1),
  ('100% HANDMADE PRODUCTS', 2),
  ('PREMIUM QUALITY MATERIALS', 3),
  ('FREE SHIPPING OVER 500 EGP', 4)
ON CONFLICT DO NOTHING;

-- Enable RLS
ALTER TABLE marquee_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE marquee_settings ENABLE ROW LEVEL SECURITY;

-- Create policies for public read access
CREATE POLICY "Allow public read marquee_items" ON marquee_items
  FOR SELECT USING (true);

CREATE POLICY "Allow public read marquee_settings" ON marquee_settings
  FOR SELECT USING (true);

-- Create policies for authenticated write access
CREATE POLICY "Allow authenticated insert marquee_items" ON marquee_items
  FOR INSERT WITH CHECK (true);

CREATE POLICY "Allow authenticated update marquee_items" ON marquee_items
  FOR UPDATE USING (true);

CREATE POLICY "Allow authenticated delete marquee_items" ON marquee_items
  FOR DELETE USING (true);

CREATE POLICY "Allow authenticated update marquee_settings" ON marquee_settings
  FOR UPDATE USING (true);
-- Create more_to_discover table for gallery images
CREATE TABLE IF NOT EXISTS more_to_discover (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  image_url TEXT NOT NULL,
  title TEXT,
  link TEXT DEFAULT '/products',
  display_order INTEGER DEFAULT 0,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create more_to_discover_settings table
CREATE TABLE IF NOT EXISTS more_to_discover_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  section_title TEXT DEFAULT 'More to Discover',
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Insert default settings
INSERT INTO more_to_discover_settings (section_title, is_active)
VALUES ('More to Discover', true)
ON CONFLICT DO NOTHING;

-- Enable RLS
ALTER TABLE more_to_discover ENABLE ROW LEVEL SECURITY;
ALTER TABLE more_to_discover_settings ENABLE ROW LEVEL SECURITY;

-- Policies for more_to_discover
CREATE POLICY "Allow public read more_to_discover" ON more_to_discover FOR SELECT USING (true);
CREATE POLICY "Allow insert more_to_discover" ON more_to_discover FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update more_to_discover" ON more_to_discover FOR UPDATE USING (true);
CREATE POLICY "Allow delete more_to_discover" ON more_to_discover FOR DELETE USING (true);

-- Policies for more_to_discover_settings
CREATE POLICY "Allow public read more_to_discover_settings" ON more_to_discover_settings FOR SELECT USING (true);
CREATE POLICY "Allow update more_to_discover_settings" ON more_to_discover_settings FOR UPDATE USING (true);
-- =============================================================
-- ORDERS AND CART MIGRATION (Simplified)
-- Run this in Supabase SQL Editor
-- =============================================================

-- Orders table
CREATE TABLE IF NOT EXISTS orders (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  order_number TEXT UNIQUE NOT NULL,
  session_id TEXT,
  status TEXT DEFAULT 'pending', -- pending, confirmed, shipped, delivered, cancelled
  
  -- Customer info
  customer_name TEXT NOT NULL,
  phone_number TEXT NOT NULL,
  payment_method TEXT DEFAULT 'cash', -- cash, visa
  
  -- Shipping address
  government TEXT NOT NULL,
  city TEXT,
  detailed_address TEXT,
  notes TEXT,
  
  -- Totals
  subtotal DECIMAL(10,2) DEFAULT 0,
  shipping_cost DECIMAL(10,2) DEFAULT 0,
  discount_amount DECIMAL(10,2) DEFAULT 0,
  discount_code TEXT,
  total DECIMAL(10,2) DEFAULT 0,
  
  -- Timestamps
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Order items table
CREATE TABLE IF NOT EXISTS order_items (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  order_id UUID REFERENCES orders(id) ON DELETE CASCADE,
  product_id UUID,
  product_name TEXT NOT NULL,
  product_name_ar TEXT,
  product_image TEXT,
  color_id UUID,
  color_name TEXT,
  size_id UUID,
  size_name TEXT,
  quantity INTEGER NOT NULL DEFAULT 1,
  unit_price DECIMAL(10,2) NOT NULL,
  total_price DECIMAL(10,2) NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Cart sessions table (optional - for server-side cart sync)
CREATE TABLE IF NOT EXISTS cart_sessions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  session_id TEXT UNIQUE NOT NULL,
  items JSONB DEFAULT '[]',
  subtotal DECIMAL(10,2) DEFAULT 0,
  discount_amount DECIMAL(10,2) DEFAULT 0,
  discount_code TEXT,
  total DECIMAL(10,2) DEFAULT 0,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Enable RLS
ALTER TABLE orders ENABLE ROW LEVEL SECURITY;
ALTER TABLE order_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE cart_sessions ENABLE ROW LEVEL SECURITY;

-- Orders policies
DROP POLICY IF EXISTS "Allow public read orders" ON orders;
DROP POLICY IF EXISTS "Allow insert orders" ON orders;
DROP POLICY IF EXISTS "Allow update orders" ON orders;
CREATE POLICY "Allow public read orders" ON orders FOR SELECT USING (true);
CREATE POLICY "Allow insert orders" ON orders FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update orders" ON orders FOR UPDATE USING (true);

-- Order items policies
DROP POLICY IF EXISTS "Allow public read order_items" ON order_items;
DROP POLICY IF EXISTS "Allow insert order_items" ON order_items;
CREATE POLICY "Allow public read order_items" ON order_items FOR SELECT USING (true);
CREATE POLICY "Allow insert order_items" ON order_items FOR INSERT WITH CHECK (true);

-- Cart sessions policies
DROP POLICY IF EXISTS "Allow public read cart_sessions" ON cart_sessions;
DROP POLICY IF EXISTS "Allow insert cart_sessions" ON cart_sessions;
DROP POLICY IF EXISTS "Allow update cart_sessions" ON cart_sessions;
DROP POLICY IF EXISTS "Allow delete cart_sessions" ON cart_sessions;
CREATE POLICY "Allow public read cart_sessions" ON cart_sessions FOR SELECT USING (true);
CREATE POLICY "Allow insert cart_sessions" ON cart_sessions FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update cart_sessions" ON cart_sessions FOR UPDATE USING (true);
CREATE POLICY "Allow delete cart_sessions" ON cart_sessions FOR DELETE USING (true);

-- =============================================================
-- DONE! Orders tables ready.
-- =============================================================
-- Create our_vibes table for video reels/testimonials
CREATE TABLE IF NOT EXISTS our_vibes (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  video_url TEXT NOT NULL,              -- Required: Dropbox path for video
  thumbnail_url TEXT,                   -- Optional: Dropbox path for thumbnail image
  caption TEXT NOT NULL,                -- Required: English caption
  product_id UUID REFERENCES products(id) ON DELETE SET NULL,  -- Optional: Link to product
  display_order INTEGER DEFAULT 0,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create our_vibes_settings table
CREATE TABLE IF NOT EXISTS our_vibes_settings (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  section_title TEXT DEFAULT 'Our Vibes',
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Insert default settings
INSERT INTO our_vibes_settings (section_title, is_active)
VALUES ('Our Vibes', true)
ON CONFLICT DO NOTHING;

-- Enable RLS
ALTER TABLE our_vibes ENABLE ROW LEVEL SECURITY;
ALTER TABLE our_vibes_settings ENABLE ROW LEVEL SECURITY;

-- Policies for our_vibes
CREATE POLICY "Allow public read our_vibes" ON our_vibes FOR SELECT USING (true);
CREATE POLICY "Allow insert our_vibes" ON our_vibes FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update our_vibes" ON our_vibes FOR UPDATE USING (true);
CREATE POLICY "Allow delete our_vibes" ON our_vibes FOR DELETE USING (true);

-- Policies for our_vibes_settings
CREATE POLICY "Allow public read our_vibes_settings" ON our_vibes_settings FOR SELECT USING (true);
CREATE POLICY "Allow update our_vibes_settings" ON our_vibes_settings FOR UPDATE USING (true);
-- =============================================================
-- PRODUCTS MIGRATION (Add Badge support)
-- Run this in Supabase SQL Editor
-- =============================================================

-- Add badge column to products table if it doesn't exist
DO $$ 
BEGIN 
  IF NOT EXISTS (
    SELECT 1 FROM information_schema.columns 
    WHERE table_name = 'products' AND column_name = 'badge'
  ) THEN
    ALTER TABLE products ADD COLUMN badge TEXT;
  END IF;
END $$;

-- Ensure products table exists with all required columns
CREATE TABLE IF NOT EXISTS products (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name_en TEXT NOT NULL,
  name_ar TEXT,
  description_en TEXT,
  description_ar TEXT,
  base_price DECIMAL(10,2) NOT NULL DEFAULT 0,
  compare_at_price DECIMAL(10,2),
  material_en TEXT,
  material_ar TEXT,
  category_id UUID REFERENCES categories(id) ON DELETE SET NULL,
  badge TEXT,  -- new_arrival, best_seller, sold_out, last_piece, sale
  is_active INTEGER DEFAULT 1,
  deleted_at TIMESTAMP WITH TIME ZONE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Ensure product_images table exists
CREATE TABLE IF NOT EXISTS product_images (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id UUID REFERENCES products(id) ON DELETE CASCADE,
  file_path TEXT NOT NULL,
  color_id UUID REFERENCES colors(id) ON DELETE SET NULL,
  is_main INTEGER DEFAULT 0,
  display_order INTEGER DEFAULT 0,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Ensure product_colors table exists
CREATE TABLE IF NOT EXISTS product_colors (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id UUID REFERENCES products(id) ON DELETE CASCADE,
  color_id UUID REFERENCES colors(id) ON DELETE CASCADE,
  UNIQUE(product_id, color_id)
);

-- Ensure colors table exists
CREATE TABLE IF NOT EXISTS colors (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name_en TEXT NOT NULL,
  name_ar TEXT,
  hex_code TEXT NOT NULL,
  is_active INTEGER DEFAULT 1,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Ensure categories table exists
CREATE TABLE IF NOT EXISTS categories (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name_en TEXT NOT NULL,
  name_ar TEXT,
  image_url TEXT,
  display_order INTEGER DEFAULT 0,
  is_active INTEGER DEFAULT 1,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Related products table
CREATE TABLE IF NOT EXISTS related_products (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id UUID REFERENCES products(id) ON DELETE CASCADE,
  related_product_id UUID REFERENCES products(id) ON DELETE CASCADE,
  UNIQUE(product_id, related_product_id)
);

-- Enable RLS
ALTER TABLE products ENABLE ROW LEVEL SECURITY;
ALTER TABLE product_images ENABLE ROW LEVEL SECURITY;
ALTER TABLE product_colors ENABLE ROW LEVEL SECURITY;
ALTER TABLE colors ENABLE ROW LEVEL SECURITY;
ALTER TABLE categories ENABLE ROW LEVEL SECURITY;
ALTER TABLE related_products ENABLE ROW LEVEL SECURITY;

-- Products policies
DROP POLICY IF EXISTS "Allow public read products" ON products;
DROP POLICY IF EXISTS "Allow insert products" ON products;
DROP POLICY IF EXISTS "Allow update products" ON products;
DROP POLICY IF EXISTS "Allow delete products" ON products;
CREATE POLICY "Allow public read products" ON products FOR SELECT USING (true);
CREATE POLICY "Allow insert products" ON products FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update products" ON products FOR UPDATE USING (true);
CREATE POLICY "Allow delete products" ON products FOR DELETE USING (true);

-- Product images policies
DROP POLICY IF EXISTS "Allow public read product_images" ON product_images;
DROP POLICY IF EXISTS "Allow insert product_images" ON product_images;
DROP POLICY IF EXISTS "Allow update product_images" ON product_images;
DROP POLICY IF EXISTS "Allow delete product_images" ON product_images;
CREATE POLICY "Allow public read product_images" ON product_images FOR SELECT USING (true);
CREATE POLICY "Allow insert product_images" ON product_images FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update product_images" ON product_images FOR UPDATE USING (true);
CREATE POLICY "Allow delete product_images" ON product_images FOR DELETE USING (true);

-- Product colors policies
DROP POLICY IF EXISTS "Allow public read product_colors" ON product_colors;
DROP POLICY IF EXISTS "Allow insert product_colors" ON product_colors;
DROP POLICY IF EXISTS "Allow delete product_colors" ON product_colors;
CREATE POLICY "Allow public read product_colors" ON product_colors FOR SELECT USING (true);
CREATE POLICY "Allow insert product_colors" ON product_colors FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow delete product_colors" ON product_colors FOR DELETE USING (true);

-- Colors policies
DROP POLICY IF EXISTS "Allow public read colors" ON colors;
DROP POLICY IF EXISTS "Allow insert colors" ON colors;
DROP POLICY IF EXISTS "Allow update colors" ON colors;
DROP POLICY IF EXISTS "Allow delete colors" ON colors;
CREATE POLICY "Allow public read colors" ON colors FOR SELECT USING (true);
CREATE POLICY "Allow insert colors" ON colors FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update colors" ON colors FOR UPDATE USING (true);
CREATE POLICY "Allow delete colors" ON colors FOR DELETE USING (true);

-- Categories policies
DROP POLICY IF EXISTS "Allow public read categories" ON categories;
DROP POLICY IF EXISTS "Allow insert categories" ON categories;
DROP POLICY IF EXISTS "Allow update categories" ON categories;
DROP POLICY IF EXISTS "Allow delete categories" ON categories;
CREATE POLICY "Allow public read categories" ON categories FOR SELECT USING (true);
CREATE POLICY "Allow insert categories" ON categories FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update categories" ON categories FOR UPDATE USING (true);
CREATE POLICY "Allow delete categories" ON categories FOR DELETE USING (true);

-- Related products policies
DROP POLICY IF EXISTS "Allow public read related_products" ON related_products;
DROP POLICY IF EXISTS "Allow insert related_products" ON related_products;
DROP POLICY IF EXISTS "Allow delete related_products" ON related_products;
CREATE POLICY "Allow public read related_products" ON related_products FOR SELECT USING (true);
CREATE POLICY "Allow insert related_products" ON related_products FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow delete related_products" ON related_products FOR DELETE USING (true);

-- Insert default colors if empty
INSERT INTO colors (name_en, hex_code) 
SELECT 'Beige', '#d4a574' WHERE NOT EXISTS (SELECT 1 FROM colors WHERE name_en = 'Beige');
INSERT INTO colors (name_en, hex_code) 
SELECT 'Brown', '#8B4513' WHERE NOT EXISTS (SELECT 1 FROM colors WHERE name_en = 'Brown');
INSERT INTO colors (name_en, hex_code) 
SELECT 'Black', '#000000' WHERE NOT EXISTS (SELECT 1 FROM colors WHERE name_en = 'Black');
INSERT INTO colors (name_en, hex_code) 
SELECT 'White', '#FFFFFF' WHERE NOT EXISTS (SELECT 1 FROM colors WHERE name_en = 'White');
INSERT INTO colors (name_en, hex_code) 
SELECT 'Cream', '#FFFDD0' WHERE NOT EXISTS (SELECT 1 FROM colors WHERE name_en = 'Cream');
INSERT INTO colors (name_en, hex_code) 
SELECT 'Tan', '#D2B48C' WHERE NOT EXISTS (SELECT 1 FROM colors WHERE name_en = 'Tan');

-- Insert default categories if empty
INSERT INTO categories (name_en, display_order) 
SELECT 'Clutches', 1 WHERE NOT EXISTS (SELECT 1 FROM categories WHERE name_en = 'Clutches');
INSERT INTO categories (name_en, display_order) 
SELECT 'Shoulder Bags', 2 WHERE NOT EXISTS (SELECT 1 FROM categories WHERE name_en = 'Shoulder Bags');
INSERT INTO categories (name_en, display_order) 
SELECT 'Crossbody Bags', 3 WHERE NOT EXISTS (SELECT 1 FROM categories WHERE name_en = 'Crossbody Bags');
INSERT INTO categories (name_en, display_order) 
SELECT 'Tote Bags', 4 WHERE NOT EXISTS (SELECT 1 FROM categories WHERE name_en = 'Tote Bags');

-- =============================================================
-- DONE! Products tables ready.
-- =============================================================
-- Create images bucket
INSERT INTO storage.buckets (id, name, public) 
VALUES ('images', 'images', true)
ON CONFLICT (id) DO NOTHING;

-- Allow public access to read images
CREATE POLICY "Public Access" 
ON storage.objects FOR SELECT 
USING ( bucket_id = 'images' );

-- Allow authenticated and anon to upload images
CREATE POLICY "Anon/Auth Upload Access" 
ON storage.objects FOR INSERT 
WITH CHECK ( bucket_id = 'images' );

-- Allow authenticated and anon to update/delete their images (or just allow anyone since it's a front store right now)
CREATE POLICY "Anon/Auth Update Access" 
ON storage.objects FOR UPDATE 
USING ( bucket_id = 'images' );

CREATE POLICY "Anon/Auth Delete Access" 
ON storage.objects FOR DELETE 
USING ( bucket_id = 'images' );
-- Fix marquee tables - add type column and INSERT policy

-- Step 1: Add type column to marquee_items (if not exists)
DO $$ 
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns 
                   WHERE table_name = 'marquee_items' AND column_name = 'type') THEN
        ALTER TABLE marquee_items ADD COLUMN type TEXT NOT NULL DEFAULT 'top_banner';
    END IF;
END $$;

-- Step 2: Add type column to marquee_settings (if not exists)
DO $$ 
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns 
                   WHERE table_name = 'marquee_settings' AND column_name = 'type') THEN
        ALTER TABLE marquee_settings ADD COLUMN type TEXT NOT NULL DEFAULT 'top_banner';
    END IF;
END $$;

-- Step 3: Add INSERT policy for marquee_settings (was missing)
DROP POLICY IF EXISTS "Allow insert marquee_settings" ON marquee_settings;
CREATE POLICY "Allow insert marquee_settings" ON marquee_settings 
  FOR INSERT WITH CHECK (true);

-- Step 4: Ensure default settings exist for both types
INSERT INTO marquee_settings (background_color, text_color, scroll_speed, is_active, type)
SELECT '#000000', '#ffffff', 30, true, 'top_banner'
WHERE NOT EXISTS (SELECT 1 FROM marquee_settings WHERE type = 'top_banner');

INSERT INTO marquee_settings (background_color, text_color, scroll_speed, is_active, type)
SELECT '#000000', '#ffffff', 40, true, 'features_ticker'
WHERE NOT EXISTS (SELECT 1 FROM marquee_settings WHERE type = 'features_ticker');
-- =============================================================
-- COMPLETE ORDERS TABLE SETUP
-- Run this ENTIRE script in Supabase SQL Editor
-- =============================================================

-- Drop old tables if they exist (WARNING: This will delete existing orders!)
-- Comment these lines if you want to keep existing data
DROP TABLE IF EXISTS order_items CASCADE;
DROP TABLE IF EXISTS orders CASCADE;

-- Create orders table
CREATE TABLE orders (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  order_number TEXT UNIQUE NOT NULL,
  session_id TEXT,
  status TEXT DEFAULT 'pending', -- pending, confirmed, shipped, delivered, cancelled
  
  -- Customer info
  customer_name TEXT NOT NULL,
  phone_number TEXT NOT NULL,
  payment_method TEXT DEFAULT 'cash', -- cash, visa
  
  -- Shipping address
  government TEXT NOT NULL,
  city TEXT,
  detailed_address TEXT,
  notes TEXT,
  
  -- Totals
  subtotal DECIMAL(10,2) DEFAULT 0,
  shipping_cost DECIMAL(10,2) DEFAULT 0,
  discount_amount DECIMAL(10,2) DEFAULT 0,
  discount_code TEXT,
  total DECIMAL(10,2) DEFAULT 0,
  
  -- Timestamps
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create order items table
CREATE TABLE order_items (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  order_id UUID REFERENCES orders(id) ON DELETE CASCADE,
  product_id UUID,
  product_name TEXT NOT NULL,
  product_name_ar TEXT,
  product_image TEXT,
  color_id UUID,
  color_name TEXT,
  size_id UUID,
  size_name TEXT,
  quantity INTEGER NOT NULL DEFAULT 1,
  unit_price DECIMAL(10,2) NOT NULL,
  total_price DECIMAL(10,2) NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Enable RLS
ALTER TABLE orders ENABLE ROW LEVEL SECURITY;
ALTER TABLE order_items ENABLE ROW LEVEL SECURITY;

-- Orders policies
DROP POLICY IF EXISTS "Allow public read orders" ON orders;
DROP POLICY IF EXISTS "Allow insert orders" ON orders;
DROP POLICY IF EXISTS "Allow update orders" ON orders;
CREATE POLICY "Allow public read orders" ON orders FOR SELECT USING (true);
CREATE POLICY "Allow insert orders" ON orders FOR INSERT WITH CHECK (true);
CREATE POLICY "Allow update orders" ON orders FOR UPDATE USING (true);

-- Order items policies
DROP POLICY IF EXISTS "Allow public read order_items" ON order_items;
DROP POLICY IF EXISTS "Allow insert order_items" ON order_items;
CREATE POLICY "Allow public read order_items" ON order_items FOR SELECT USING (true);
CREATE POLICY "Allow insert order_items" ON order_items FOR INSERT WITH CHECK (true);

-- Verify the schema
SELECT 'Orders table created successfully!' as status;
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'orders' 
ORDER BY ordinal_position;
